
<!-- <h2>Map Component</h2> -->

<!-- <app-chunk #chunkContainer></app-chunk> -->

<!-- <ng-template #chunkContainerRef></ng-template> -->
<div #chunkContainerRef></div>

<h1>map</h1>


<!-- <ul>
    <li>test</li>
    <li *ngFor="let tileRow of chunkTiles">
        asd
        {{ tileRow[0] }}
    </li>
</ul> -->


<svg
  [attr.width]="1000"
  [attr.height]="1000"
  xmlns="http://www.w3.org/2000/svg"
  class="map" 
  (ngxDrag)="onDrag($event)"
  (ngxWheel)="onWheel($event)"
  [style.position]="'absolute'"
  >
  <!-- add light grey background -->
    <g
    [attr.transform]="transform"
    >
        <!-- <g *ngFor="let tileRow of chunkTiles"> -->
        <g *ngFor="let chunk of chunks">
            <g app-chunk [chunk]="chunk" />
        </g>
    </g>
</svg>


