
<!-- <h2>Map Component</h2> -->

<!-- <app-chunk #chunkContainer></app-chunk> -->

<!-- <ng-template #chunkContainerRef></ng-template> -->
<div #chunkContainerRef></div>

<!-- <h1>map</h1>
<p>
    center pos: {{ (centerPosition$ | async)?.x }} / {{ (centerPosition$ | async)?.y }}<br />
    boundingBox: width {{ (boundingBox$ | async)?.width }} / height {{ (boundingBox$ | async)?.height }}<br />
    boundingBox: x {{ (boundingBox$ | async)?.x }} / y {{ (boundingBox$ | async)?.y }}<br />
    <br />
    visible tiles: width: {{ visibleTiles.width }} / height: {{ visibleTiles.height }}<br />
    visible tiles: x {{ visibleTiles.x }} / y {{ visibleTiles.y }}<br />

    <button (click)="resetCenterPosition()">reset center pos</button>
</p> -->

<!-- <ul>
    <li>test</li>
    <li *ngFor="let tileRow of chunkTiles">
        asd
        {{ tileRow[0] }}
    </li>
</ul> -->
<!-- 
  [attr.width]="1000"
  [attr.height]="1000" -->

<svg
    [attr.width]="svgBoundingBox.width"
    [attr.height]="svgBoundingBox.height"
    xmlns="http://www.w3.org/2000/svg"
    class="map" 
    [style.position]="'absolute'"
    #svgMap
  >
    <text>Map is loading ...</text>
    
    <!-- <g *ngFor="let tileRow of chunkTiles"> -->

    <!-- chunk should be "keyed" -> `*ngForTrackBy="trackByChunk"`-->
    <g
        *ngFor="let chunk of chunks; trackBy: trackByChunk"
    >
        <g app-chunk [chunk]="chunk" />
    </g>

    <!--<circle r="2000" [attr.cx]="centerPositionX" [attr.cy]="centerPositionY" fill="red" />-->
    <!-- <circle r="2000" [attr.cx]="(centerPosition$ | async)?.x" [attr.cy]="(centerPosition$ | async)?.y" fill="red" /> -->

    <!-- <rect width="200" height="100" x="10" y="10" rx="20" ry="20" fill="transparent" style="stroke-width:10;stroke:rgb(0,0,255)"  /> -->
    <!-- <rect 
        [attr.width]="(boundingBox$ | async)?.width"
        [attr.height]="(boundingBox$ | async)?.height"
        [attr.x]="(boundingBox$ | async)?.x"
        [attr.y]="(boundingBox$ | async)?.y"
        rx="20" ry="20" style="stroke-width:10;stroke:rgb(255,0,255);fill:rgba(100,255,100,0.25)" /> -->
</svg>


