rect {
  stroke: black;
  stroke-width: 1px;
}

/* svg text {display: none;}
svg g:hover text {display: block;} */

g.tile text {display: none;}
g.tile:hover text {display: block;}

g.tile-text text {display: block;}
g.tile-text:hover text {display: none;}